<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Update</title>
</head>

<body>
    <div class="update-box">
        <div class="update-account-container">

            <form action="/update-account" method="POST">
                <div>
                    <label for="">Page:</label>
                    <input name="page" value="<%= dataAccount.page %> " />
                </div>
                <div>
                    <label for="">Date:</label>
                    <input name="date" value="<%= dataAccount.date %> " />
                </div>
                <div>
                    <label for="">Email:</label>
                    <input name="email" value="<%= dataAccount.email %> " />
                </div>
                <div>
                    <label for="">Password:</label>
                    <input name="password" value="<%= dataAccount.password %> " />
                </div>
                <input type="text" value="<%= dataAccount.id %>" hidden name="id">
                <div>
                    <button class="save-btn" type="submit">Save</button>
                </div>
            </form>

        </div>
    </div>
</body>

</html>